@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --main-color: #2196f3;
    --alt-color: #1787e0;
    --black-color: black;
    --main-transition: .25s ease;
    --alt-transition: 0.5s ease;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.container {
    padding: 0 15px;
    margin: 0 auto;
}


/* Small */

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/* Medium */

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* Large */

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

/* Start Header */
header {
    background-color: #f0f0f0;
    position: relative;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .container .logo {
    font-size: 1.6em;
    font-weight: 600;
    color: var(--main-color);
    padding: 15px 0;

}

header .container nav ul {
    display: flex;
}

#toggle_menu {
    display: none;
}

@media (min-width: 768px) {

    header .container nav {
        position: relative;
    }



    header .container nav ul li a {
        padding-left: 25px;
        font-size: 1.1em;
        font-weight: 400;
        color: var(--black-color);
        padding: 15px 20px 15px 0;
        transition: var(--main-transition);
        position: relative;
        height: 100%;
    }

    header .container nav ul li a::before {
        content: '';
        position: absolute;
        top: -3px;
        left: -5px;
        width: 0;
        height: 4px;
        background-color: var(--alt-color);
        transition: var(--main-transition);
    }

    header .container nav ul li a:hover {
        color: var(--alt-color);
    }

    header .container nav ul li a:hover::before {
        width: 100%;
    }
}



/* End Header */

section {
    padding: 100px 0;
}

/* Start Main-Section*/
.main {
    min-height: calc(100vh - 59px);
    width: 100%;
    background: url("../imges/linus-mimietz-gvptKmonylk-unsplash.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    display: flex;
    align-items: center;
    text-align: center;
}

.main::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgb(0 0 0 / 70%);
}

.main .container {
    z-index: 2;
}

.main .container h2 {
    color: white;
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 1.4em;

}

.main .container h2 span {
    color: var(--main-color);
    display: inline-block;
    font-size: 3em;
    font-weight: 600;
    margin-top: 15px;
}

.main .container h3 {
    color: white;
    font-size: 1.8em;
    font-weight: 700;
    letter-spacing: 1px;
    margin: 10px 0 30px;
}

.main .container .btn {
    background-color: var(--main-color);
    letter-spacing: 1px;
    color: white;
    display: inline-block;
    padding: 0.9375em 2.1875em;
    border-radius: 15px;
    font-size: 1.1em;
    font-weight: 600;
    margin-bottom: 30px;
    transition: var(--alt-transition);
}

.main .container .btn:hover {
    background-color: var(--alt-color);
    transform: scale(1.1);
}

.main .container .social a {
    color: #fff;
    font-size: 1.7em;
    margin-left: 5px;
    height: 50px;
    width: 50px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.main .container .social .facebook:hover {
    color: white;
    background-color: #1877f2;
}

.main .container .social .instagram:hover {
    color: white;
    background-image: linear-gradient(42deg, #ffdc80, #fcaf45, #f77737, #f56040, #fd1d1d, #e1306c, #c13584, #833ab4, #5851db, #405de6);
}

.main .container .social .linkedin:hover {
    color: white;
    background-color: #0077b5;
}

/*End Main-Section*/
/* Start Services-Section */
.title {
    display: flex;
    justify-content: center;
    color: var(--alt-color);
    margin-bottom: 30px;
    font-size: 2.3em;
    font-weight: 800;
}

.content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.services .box {
    width: 21.25em;
    background-color: #fff;
    box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
    border-radius: 10px;
    padding: 25px;
    margin: 15px;
    transition: var(--alt-transition);
    text-align: center;
}

.services .box:hover {
    transform: scale(1.1);
}

.services .box .icon {
    font-size: 8em;
    color: var(--main-color);
    text-align: center;
    margin-bottom: 20px;
}

.services .box .info h3 {
    color: var(--main-color);
    font-size: 1.4em;
    font-weight: 700;
    margin-top: 20px;
    margin: 10px;
}

/* End Services-Section */

/* Start Projects-Section */

.projects {
    background-color: #000016;
}

.projects .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
    margin-top: 50px;
}

.projects .box {
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 10px;
    transition: var(--alt-transition);
    overflow: hidden;
}

.projects .box:hover {
    transform: scale(1.1);
}

.projects .box:hover .imge {
    opacity: 0.9;
}

.projects .box img {
    max-width: 100%;
}

.projects .box .info {
    padding: 1em;
}

.projects .box .info p {
    font-size: 0.8;
    color: var(--black-color);
}

.projects .box .info strong {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: 800;
    margin-top: 10px;
}

.projects .box .info strong a {
    color: var(--main-color);
}

.projects .box .info strong a:hover {
    color: var(--alt-color);
}

/* End Projects-Section */

/* Start Contact-section */
.contact {
    background: linear-gradient(to left top, #d5d5d5, #ffffff);
    display: grid;
    place-content: center;
    font-size: 22px;
}

.container-contact {
    position: relative;
    display: flex;
    align-items: center;
    width: 300px;
    height: 300px;
}

.container-contact .icon {
    position: absolute;
    cursor: pointer;
    display: grid;
    place-content: center;
    border-radius: 50%;
    color: var(--color);
}

.container-contact .center {
    width: 90px;
    height: 90px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 22px;
    border: 2px solid #f1f1f1;
    text-shadow: none;
    box-shadow: inset -2px -2px 5px #b8b9be, inset 3px 3px 7px #fff, inset 1px 1px #2225, 1px 2px 1px #0003;
    transition: box-shadow 0.3s;
    z-index: 9;
}

.container-contact .center i {
    color: #00c278;
}

.container-contact .social {
    transform: translateX(120px);
    transform-origin: 150px;
    transition: transform 0.4s;
    transition-delay: calc(0.1s * var(--i));
    /* transform: rotate(calc(360deg / 8 * var(--i))); */
}

.container-contact .social i {
    transform: rotate(calc(360deg / -5 * var(--i)));
    width: 60px;
    height: 60px;
    display: grid;
    place-content: center;
    border-radius: inherit;
    border: 2px solid #f1f1f1;
    box-shadow: inset -2px -2px 5px #b8b9be, inset 3px 3px 7px #fff, inset 1px 1px #2225, 1px 2px 1px #0003;
    transition: box-shadow 0.22s;
}

.container-contact .social i:hover,
.container-contact .center:focus {
    color: #999;
    box-shadow: inset 2px 2px 5px #b8b9be, inset -3px -3px 7px #fff;
    text-shadow: 1px 1px 1px #222, -1px -1px -1px #fff;
}

.rotate {
    transform: rotate(calc(360deg / 5 * var(--i))) !important;
}

.popup-overlay {
    position: fixed;
    background-color: rgb(0, 0, 0, 0.7);
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 11999;
}

.popup-box h3 {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    color: var(--main-color);
    padding: 25px;
    font-family: Arial, Tahoma;
}

.popup-box h3:hover {
    color: var(--alt-color);
}

.popup-box {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 18px;
    z-index: 111000;
    border-radius: 4px;
}

.popup-box img {
    max-width: 100%;
}

.close-botton {
    position: absolute;
    top: -15px;
    right: -15px;
    background-color: var(--main-color);
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 20px;
    color: #fff;
    border-radius: 50%;
    cursor: pointer;
    font-weight: bold;
    font-family: Arial, Tahoma;
}

@media(max-width: 767px) {
    .popup-box h3 {
        font-size: 32px;
    }
}

/* End Contact-section */
/* Start Footer */
footer {
    display: flex;
    justify-content: space-between;
    padding: 2em;
    background-color: #000016;
    color: #fff;
}

footer p {
    font-size: 1.3em;
    font-weight: 600;
}

footer p span {
    color: var(--alt-color);
}

footer .social a {
    font-size: 1.2em;
    padding-left: 20px;
    color: white;
}

/* End Footer */

@media (max-width: 767px) {
    body {
        font-size: 12.5px;
    }

    /* header .container {
        flex-direction: column;
    }

    header .container nav ul {
        padding: 6px 10px 15px;
    } */

    section {
        padding: 60px 0;
    }

    .contact {
        flex-direction: column;
        align-items: center;
    }

    footer {
        flex-direction: column;
        text-align: center;
    }

    footer .social {
        margin-top: 15px;
    }

    #links {
        padding: 0;
        margin: 0;
        position: absolute;
        right: 24px;
        top: calc(100% + 1px);
        min-width: 200px;
        z-index: 9999;
        background-color: white;
        display: none;
    }

    #links::before {
        content: "";
        border-width: 10px;
        border-color: transparent transparent var(--main-color) transparent;
        border-style: solid;
        position: absolute;
        right: -1px;
        top: -20px;
    }


    #toggle_menu {
        width: 33px;
        height: 22px;
        display: block;
        position: relative;
        cursor: pointer;
        transition: all 0.5s ease;
    }

    header #toggle_menu span {
        display: block;
        width: 100% !important;
        margin-bottom: 5px;
        background-color: var(--main-color);
        height: 4px;
        border-radius: 3px;
        transition: all 0.6s ease;
    }

    .active-icon span {
        position: absolute;
        left: 0;
    }

    .active-icon span:first-child {
        transform: rotate(45deg);
        top: 8px;
    }

    .active-icon span:nth-child(2) {
        opacity: 0;
        top: 8px;
    }

    .active-icon span:last-child {
        transform: rotate(-45deg);
        top: 8px;
    }

    header .container nav ul li a {
        display: block;
        padding: 15px;
        color: #333;
        transition: var(--alt-transition);
        font-size: 15px;
        font-weight: 500;
    }

    header .container nav ul li a:hover {
        padding-left: 25px;
        color: var(--main-color);
    }

    header .container nav ul li:not(:last-child) a {
        border-bottom: 1px solid #ddd;
    }
}